[submodule "Labs/Lab01"]
	path = Labs/Lab01
	url = https://github.com/nathanlytang/CMPUT404-Lab01.git
[submodule "Assignments/CMPUT404-assignment-webserver"]
	path = Assignments/CMPUT404-assignment-webserver
	url = https://github.com/nathanlytang/CMPUT404-assignment-webserver.git
[submodule "Assignments/CMPUT404-assignment-web-client"]
	path = Assignments/CMPUT404-assignment-web-client
	url = https://github.com/nathanlytang/CMPUT404-assignment-web-client.git
[submodule "Assignments/CMPUT404-assignment-css-hell"]
	path = Assignments/CMPUT404-assignment-css-hell
	url = https://github.com/nathanlytang/CMPUT404-assignment-css-hell.git
[submodule "Assignments/CMPUT404-assignment-ajax"]
	path = Assignments/CMPUT404-assignment-ajax
	url = https://github.com/nathanlytang/CMPUT404-assignment-ajax
[submodule "Labs/Lab08"]
	path = Labs/Lab08
	url = https://github.com/nathanlytang/nodejs-ws-lab
